* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header, main, footer{
    margin: 10px;
    padding: 10px;
}
 h1{
    font-size: 50px;
    color: rgba(161, 185, 88, 0.785);
    text-align: center;
    border: 30px;
    border-radius: 30px;
    border-color: rgb(222, 234, 234);

}


div{
    margin: 20px;
}




h2{
    font-size: 40px;
    color: rgba(161, 185, 88, 0.785);
    text-align: center;
    border: 30px;
    border-radius: 30px;
    border-color: aqua;
}


.TITLE{
    font-size: 20px;
    color: rgb(210, 177, 177);
    text-align: center;
    font-weight: bold;  
    padding: 10px;
    margin: 10px   ;

}
h1{
    color:rgb(210, 177, 177);
    text-align: center;
}
body{
    background-color: rgb(240, 245, 237);
}
img{
    margin: 10px;
    border: 2px solid rgba(177, 233, 195, 0.61);
    border-radius: 10px;
}


.dress-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
span{
    font-size: 18px;
    color: rgb(210, 177, 177);
    text-align: center;
    font-weight: bold;
}

.side-by-side{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px; 
}

figure{
    
    flex: 1 1 200px; 
    max-width: 250px;
    margin: 0;
    text-align: center;
    border: 1px solid rgb(240, 245, 237);
    padding: 10px;
    background-color: rgb(240, 245, 237);
    
}

figure img{ 
    max-width: 100%;  
    height: auto;
    border: none;  
    margin: 0;
}

figcaption{
    font-size: 14px; 
    font-style: italic;
    padding-top: 5px;
    color: rgb(120, 109, 109);
    margin-top: 0; 
}
.hover-icon {
    width: auto;
    height: auto;
    transition: transform 0.3s;
}
.hover-icon:hover {
    transform: scale(1.05);
}
nav{
    background-color: rgb(233, 238, 216);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav ul li{
    display: inline;

}
nav ul li a{
    text-decoration: black;
    color: rgb(90, 89, 89);
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover{
    color: rgb(161, 185, 88);
}
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(233, 238, 216);
    margin-top: 20px;
    font-size: 14px;
    color: rgb(90, 89, 89);
}
footer a{
    color: rgb(90, 89, 89);
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    color: rgb(161, 185, 88);
}
.container{
    max-width: 100px;
    background: var(--surface);
    padding: 1.25rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid rgba(186, 149, 183, 0.18);
    margin: auto  ;
    padding: 10px;
    background-color: rgb(240, 245, 237);

    
}
.container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container ul li{
    display: inline;

}
.container ul li a{
    text-decoration: black;
    color: rgb(90, 89, 89);
    font-weight: bold;
    font-size: 18px;
}
.container ul li a:hover{
    color: rgb(161, 185, 88);
}
nav .active{
    color: rgb(161, 185, 88);
    font-weight: bold;
}
nav .active:hover{
    color: rgb(90, 89, 89);
    font-weight: bold;
}
nav .container .active{
    color: rgb(161, 185, 88);
    font-weight: bold;
}
nav .container .active:hover{
    color: rgb(90, 89, 89);
    font-weight: bold;
}
.social-media-icons{
    margin-top: 10px;
}